//slide menu
.slide_menu {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  left: -100vw;
  z-index: 1000;
  transition: 0.3s;
  &.on {
    display: block;
    left: 0;
  }
  header {
    width: $min-width-1300;
    margin: 0 auto;
    > div {
      img {
        @include fullImg;
      }
    }
  }
  .content {
    margin-top: 120px;
    > div {
      padding: 50px;
      box-sizing: border-box;
      &.gnb {
        margin-left: 50px;
        ul {
          li {
            a {
              position: relative;
              @include text-style-70;
              color: #fff;
              &::after {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 21px;
                background-color: $primary-color;
                margin-top: -43px;
                transition: width 0.3s;
                z-index: 10;
              }
            }
          }
        }
      }
      &.contact {
        font-family: $font-kr;
        @include text-style-16;
        color: #fff;
        ul {
          overflow: hidden;
          li {
            float: left;
            margin-left: 60px;
            &:nth-of-type(1) {
              margin-left: 0;
            }
          }
        }
        .view_map {
          margin-top: 120px;
          a {
            @include text-style-16;
            margin-bottom: 5px;
            border-bottom: 1px solid #fff;
            color: #fff;
          }
        }
      }
    }
  }
}

// header
header {
  .header_inner {
    @include flexbox(space-between, center);
    min-height: 70px;
    > div {
      img {
        @include fullImg;
      }
    }
  }
}

//contnet
.content {
  @include flexbox(space-between, center);
  .flex2 {
    flex: 50%;
  }
  .flex3 {
    flex: calc(100% / 3);
  }
}

// text style
.sub_text {
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    left: 4px;
    top: 23px;
    background: #000;
  }
}

.caption {
  display: inline-block;
  font-family: $font-kr;
  @include text-style-12;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

//footer
footer {
  font-family: $font-kr;
  width: 100vw;
  height: 65px;
  background-color: #000;
  .footer_inner {
    max-width: 1460px;
    margin: 0 auto;
    div {
      @include text-style-12;
      margin-top: 20px;
      color: #fff;
      &.left_text {
        text-align: left;
        float: left;
      }
      &.right_text {
        text-align: right;
        float: right;
      }
    }
  }
}
