//fontfamily
$font-en: "Playfair Display", serif;
$font-kr: "Noto Sans KR", sans-serif;

//font size
$font-size-105: 105px;
$line-height-105: 105px;

$font-size-70: 70px;
$line-height-70: 75px;

$font-size-55: 55px;
$line-height-55: 59px;

$font-size-45: 45px;
$line-height-45: 45px;

$font-size-34: 34px;
$line-height-34: 34px;

$font-size-20: 20px;
$line-height-20: 20px;

$font-size-18: 18px;
$line-height-18: 27px;
$letter-spacing-18: -0.05px;

$font-size-16: 16px;
$line-height-16: 18px;
$letter-spacing-16: -0.04px;

$font-size-15: 15px;
$line-height-15: 18px;
$letter-spacing-15: -0.04px;

$font-size-12: 12px;
$line-height-12: 14px;
$letter-spacing-12: -0.07px;

//color
$primary-color: #6666ff;

//grid layout

//responsive
$min-width-1300: 1280px;
$min-width-1100: 900px;
$min-width-900: 750px;
$min-width-750: 620px;
$min-width-620: 520px;
$min-width-520: 414px;
$min-width-414: 375px;
$min-width-375: 310px;
